<html>
  <head>
    <script src="js/jquery-1.6.2.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone-localstorage.js"></script>
    
    <script src="js/application.js"></script>
    
    <link rel="stylesheet" type="text/css" href="style/reset-min.css" />
    <link rel="stylesheet" type="text/css" href="style/application.css" />
  </head>
  <body>
    <a href="" id="notifications" style="display:none;">Turn On Notifications</a>
    <div id="middle_column">
        <h1>What can you finish in the next 30 minutes?</h1>
        <form id="new_work_chunk">
          <input type="text"/>
        </form>
        <ul id="work_chunks">
        </ul>
    </div>
    <a id="clear_all" href="">Clear All</a>
    
    <script id="work_chunk_template" type="text/underscore-tmpl">
      <span class="time_elapsed">{{ elapsed_time }}</span>
      <span class="description">{{ description }}</span>
      <span class="controls">
        <a class="complete" href="">done</a>
        <a class="cancel" href="">cancel</a>
      </span>
      <span class="points">
      </span>
    </script>
  </body>
</html>