<html manifest="app.appcache?version=<%= version %>">
  <head>
    <title>toDoing.org - get something done.</title>
    <script src="js/jquery-1.6.2.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone-localstorage.js"></script>
    
    <script src="js/application.js"></script>
    
    <link rel="stylesheet" type="text/css" href="style/reset-min.css" />
    <link rel="stylesheet" type="text/css" href="style/application.css" />
    
    <link href='/favicon.png' rel='icon' type='image/png'>
    <link href='/favicon.png' rel='shortcut icon' type='image/png'>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24902286-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  </head>
  <body>
    <a href="" id="notifications" style="display:none;">Turn On Notifications</a>
    <div id="middle_column">
        <h1>What can you finish in the next 30 minutes?</h1>
        <form id="new_work_chunk">
          <input type="text"/>
        </form>
        <ul id="work_chunks">
        </ul>
    </div>
    <div id='total'>total: <span></span></div>
    <a id="clear_all" href="">clear all</a>
    
    <script id="work_chunk_template" type="text/underscore-tmpl">
      <span class="time_elapsed">{{ elapsed_time }}</span>
      <span class="description">{{ description }}</span>
      <span class="controls">
        <a class="complete" href="">done</a>
        <a class="cancel" href="">abort</a>
      </span>
      <span class="points">
        points: {{ point_value }}
      </span>
    </script>
  </body>
</html>
